<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow-sm p-4">
    <h3 class="mb-4 text-center">Formulario de Contacto</h3>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <!-- Nombre -->
      <div class="mb-3 position-relative">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control form-control-sm rounded-3" formControlName="nombre" placeholder="Nombre">
        <span *ngIf="contactForm.get('nombre')?.touched"
              class="position-absolute top-50 end-0 translate-middle-y me-3">
          <i *ngIf="contactForm.get('nombre')?.valid" class="text-success">✅</i>
          <i *ngIf="contactForm.get('nombre')?.invalid" class="text-danger">❌</i>
        </span>
      </div>

      <!-- Email -->
      <div class="mb-3 position-relative">
        <label class="form-label">Email</label>
        <input type="email" class="form-control form-control-sm rounded-3" formControlName="email" placeholder="Correo electrónico">
        <span *ngIf="contactForm.get('email')?.touched"
              class="position-absolute top-50 end-0 translate-middle-y me-3">
          <i *ngIf="contactForm.get('email')?.valid" class="text-success">✅</i>
          <i *ngIf="contactForm.get('email')?.invalid" class="text-danger">❌</i>
        </span>
      </div>

      <!-- Celular -->
      <div class="mb-3 position-relative">
        <label class="form-label">Celular</label>
        <input type="text" class="form-control form-control-sm rounded-3" formControlName="celular" placeholder="Celular">
        <span *ngIf="contactForm.get('celular')?.touched"
              class="position-absolute top-50 end-0 translate-middle-y me-3">
          <i *ngIf="contactForm.get('celular')?.valid" class="text-success">✅</i>
          <i *ngIf="contactForm.get('celular')?.invalid" class="text-danger">❌</i>
        </span>
      </div>

      <!-- Mensaje -->
      <div class="mb-3 position-relative">
        <label class="form-label">Mensaje</label>
        <textarea class="form-control form-control-sm rounded-3" rows="3" formControlName="mensaje" placeholder="Mensaje"></textarea>
        <span *ngIf="contactForm.get('mensaje')?.touched"
              class="position-absolute top-0 end-0 me-3 mt-2">
          <i *ngIf="contactForm.get('mensaje')?.valid" class="text-success">✅</i>
          <i *ngIf="contactForm.get('mensaje')?.invalid" class="text-danger">❌</i>
        </span>
      </div>

      <button class="btn btn-primary w-100 btn-sm rounded-3" type="submit"
              [disabled]="contactForm.invalid">
        Enviar
      </button>
    </form>
  </div>
</div>
