.home-bg {
  background: url('https://media.istockphoto.com/id/1987307560/es/foto/visualizaci%C3%B3n-de-big-data-part%C3%ADculas-digitales-abstractas-antecedentes-de-la-red-cibern%C3%A9tica.jpg?s=612x612&w=0&k=20&c=xCCuMy7-dlDV4dgA9CJ4E2lUO4a8VZ08su0KVKOmJhM=') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: brightness(0.6);
  min-height: 100vh;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.btn-warning {
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-warning:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 193, 7, 0.5);
}
